<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Talaba baholari</h1>
    <table border="1">
        <thead>
            <tr>
                <th>T/r</th>
                <th>FIO</th>
                <th>bal1</th>
                <th>bal2</th>
                <th>bal3</th>
                <th>bal4</th>
                <th>bal5</th>
                <th>bal6</th>
                <th>bal7</th>
                <th>bal8</th>
                <th>Jami</th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>{{ puplil.id }}</td>
                    <td>{{ puplil.name }}</td>
                    <td>{{ puplil.bal1 }}</td>
                    <td>{{ puplil.bal2 }}</td>
                    <td>{{ puplil.bal3 }}</td>
                    <td>{{ puplil.bal4 }}</td>
                    <td>{{ puplil.bal5 }}</td>
                    <td>{{ puplil.bal6 }}</td>
                    <td>{{ puplil.bal7 }}</td>
                    <td>{{ puplil.bal8 }}</td>
                    <td>{{ puplil.jami }}</td>
                </tr>

        </tbody>
    </table>

</body>
</html>